.lessonContainer{
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    gap: 50px;

}

.topWrap .percentage{
    font-size: 20px;
    font-weight: bold;
}

.progressBar{
    width: 100%;
    height: 30px;
    background-color: red;
}


.textWrap{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textWrap h2{
    font-size: 30px;

}

.textWrap p{
    margin-top: 20px;
    font-size: 17px;
    /* color: gray; */
}

.imgAndSpeaker{
    margin-top: 50px;
   display: flex;
   /* gap: 20px; */
   margin-bottom: 100px;

}

.speakerWrap{
    display: flex;
    justify-content: flex-end;
    width: fit-content; 
}

.playIcon{
    cursor: pointer;
    font-size: 60px;
}

.img{
    margin-top: 50px;
    max-width: 280px;
    width: 100%;
    height: unset !important;
}


.answersWrap{
    display: flex;
    gap: 20px;
}

.showAnswer{
    padding: 10px;
    background-color: var(--gray-color);
    cursor:grab;
}

.answer{
    padding: 10px;
    background-color: var(--gray-color);
    cursor:pointer;
}

.answer:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-out;
    box-shadow: -1px 7px 6px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 7px 6px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 7px 6px -4px rgba(0,0,0,0.75);
}


.lessonContainer hr{
    border: 1px solid lightgray;
    width: 100%;
}

.pickAnswerWrap{
    margin-bottom: 30px;
    display: flex;
    gap: 20px; 
}