.userPhoto{
    /* margin-top: 20px; */
    border-radius: 50%;
    border: 1px solid orange;
    width:100px;
    height:100px
}

.userIcon{

    max-width: 100px;
    width: 100%;
    height: unset !important;
    width:100px;
    height:100px
}