.overlay {
    position:fixed;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background: rgba(51, 51, 51, 0.5); */
    background-color: rgba(255, 255, 255, 0.852);
    z-index: 990;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


  .img{
    opacity: 0.4;
  }


  .loaderWrap{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .loader {
    width: 40px;
    height: 40px;
    border: 5px solid grey;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 