.container{
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgb(223, 220, 220);
    border-radius: 10px;
    /* gap:40px */
    width: max-content;
}


.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 200px;
    height: 100%;
    justify-content: center;
    cursor: pointer;
    /* border-radius: 10px; */
    border-left: 0.5px solid rgb(220, 220, 220);
    /* padding:2em; */
}

.active{
    display: flex;
    /* padding:2em; */
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 200px;
    height: 100%;
    background-color: white;
    border-bottom: 3px solid green;
    justify-content: center;
    color: green;
}

.icon{
    font-size: 30px;
}