.textWrap {
  text-align: center;
}

.textWrap h2 {
  font-weight: 700;
  font-size: 25px;
}

.textWrap p {
  margin-top: 5px;
  font-size: 18px;
}

.wrapper {
  /* margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 25px; */
}
