.container{
    overflow-x: auto;
    border: 1px solid #ddd;
    border-radius: 9px;
    width: 100%;
    /* text-transform: capitalize; */
}

.container table{
    width: 100%;
    color: #444;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
    border-spacing: 0;
    border-collapse:collapse;
  
}  


.compOption{
    max-width: 170px;
    width: 100%;
    padding: 5px 3px;
    border: 2px solid lightgray;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
}

.compcopyBtn{
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.comptypeAndActionsWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.comptableWrap table{
  width: 100%;
  color: #444;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
  border-spacing: 0;
  border-collapse:collapse;
  border-radius: 8px;
  
}



.thead{
  height: 50px;
}

.container th{
    text-align: center;
}

.container td{
    text-align: center;
}

.container .compMain{
    height: 60px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
  }

  .container .compMain:hover{
    background-color: rgb(233, 230, 230);
  }

  .compBlue{
    color: var(--green-color);
  }

.compMB{
    background-color: white;
    height: 70px;
    padding-top: 30px;
  }

/* .compArrow{
    font-size: 25px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.554);
  } */
 
.lop{
    transition: 1s;
  }

.arrowRotate{
    cursor: pointer;
    transform: rotate(180deg);
  }

  

.tr{
    /* height: 50px; */
    border-bottom: 1px solid lightgray;
    background-color: white;
    padding: 0px 10px;
  }
 
  .downloadReport{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
  }

  

  .td{
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
  }
  
  .container th {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color:rgb(241, 242, 243);
  }

  .compUdButtonsWrap{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent
  }

  .compudButtons{
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(236, 235, 235);
  }


  


  @media(max-width:700px){
    .container table{
      width: 1200px;
      color: #444;
      box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
      -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
      -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.65);
      border-spacing: 0;
      border-collapse:collapse;
    
      
    }
  }