 
/* LAYOUT CSS */
.layout{
    display: flex;
    
}

.body{
    /* flex: 8;
    background-color: whitesmoke;
    padding: 25px 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px; */
}



/* PAGE CSS */


/* .container{
    
} */

.container hr{
    border: .5px solid lightgrey;
}

/* .title{
    background-color: white;
   padding:15px 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
font-weight: 800;
    border-radius: 10px;
} */


.imageWrap{
    display: flex;
    justify-content: center;
    margin:20px
}

.details{
    /* padding: 40px 25px;
    background-color: white;

    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    border-radius: 10px; */
}

.inputWrap{
    display: grid;
    gap: 5px;
}


.btnWrap{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}