.buttonWrap {
  display: flex;
  align-items: center;
  margin: 30px 0px;
  justify-content: center;
  gap: 20px;
}

.cardTitle {
  font-size: 18px;
  margin-left: 10px;
  font-weight: 700;
}

.cardWrap {
  margin: 120px 20px;
}

.notAvailable {
  margin-left: 10px;
  color: navy;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
