.container{
    background-color: var(--white-color);
    max-width: 950px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.title{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.125rem
  
}

.container hr{
    border: .5px solid lightgray;
    width: 100%;
}



.label{
    margin-bottom: 10px;
}


.btnWrap{
    text-align: center;
    margin-top: 60px;
    width: 100%;
}