@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #ffc400;
  --orange-color: #f19c08;
  --white-color: white;
  --green-color: #1a8754;
  --white-grey: #f9f9f9;
  --gray-color: #e1e1e1;
  --red-color: red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.input-group label {
  font-size: 2.8rem;
}

input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-clip: content-box;
  border: 1px solid var(--yellow-color);
  background-color: transparent;
}

input[type='radio']:checked {
  background-color: var(--yellow-color);
  padding: 3px;
  border: 1px solid var(--yellow-color);
}

.copyBox {
  cursor: pointer;
  width: fit-content;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
  font-size: 14px;
  display: flex;
  gap: 3px;
  align-items: center;
}

/* TABLE ACTION CSS */
.action {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.editIcon {
  cursor: pointer;
  font-size: 18px;
  color: var(--green-color);
}

.deleteIcon {
  cursor: pointer;
  font-size: 18px;
  color: var(--red-color);
}

.languageText {
  font-family: Helvetica;
  font-weight: 400;
}

/* DASHBOARDS LAYOUT CSS */
.layout {
  display: flex;
}

.main {
  flex: 8;
  background-color: whitesmoke;
  padding: 25px 30px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
}

.landingpage {
  position: relative;
  z-index: 0;
  /* display: table; */
  width: 100%;
  height: auto;
  text-align: center;
  color: rgb(38, 37, 37);
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.landingpage:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/assets/images/landingpage/african_background.svg');
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

.carousel.carousel-slider .control-arrow {
  background-color: transparent !important;
}
.carousel .control-next.control-arrow:before {
  border-left:8px solid brown!important
}
.carousel .control-prev.control-arrow:before{
  border-right:8px solid brown!important
}
.carousel-slider{
  max-width: 800px !important;
  margin: auto!important;
}