.selectWrap {
}

.select {
  width: 100%;
  border-radius: 15px;
  border: 1px solid hsl(39, 100%, 47%);
  box-sizing: border-box;
  outline:none
}

.label {
  margin-bottom: 6px;
}

/* .select:hover  { */
  /* box-shadow: none !important; */
  /* border: 1px solid #b87a37 !important; */
/* } */
