.selectModuleTitle{
    margin: 10px 0px;
}

.cardWrap{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: 250px;
    overflow-y: scroll;
    border: 1px solid lightgray;
    padding: 10px;
}