.container{
    display: flex;
    align-items: center;
    width: fit-content;
}
.container button{
    padding:10px 16px
}

.btn{
    color: black;
    transition: all .2s ease-in-out;

    border-radius: 6px;
    font-weight: bold;
}

.btnActive{
    background-color: var(--green-color);
    color: var(--white-color);
    transition: all .2s ease-in-out;

    border-radius: 6px;
  
    font-weight: bold;
}