.container{
    /* background-color: var(--white-color); */
    /* max-width: 550px; */
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding:2em
}

.title{
    margin-bottom: 15px;
}

.container hr{
    border: .5px solid lightgray;
    width: 100%;
}

.templateBtn{
    margin-top: 17px;
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    position: relative;
}

.selectWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selectBox{
    border: 2px dashed lightgray;
    padding:1em;
    display: grid;
    place-items: center;
    font-size: 60px;
    cursor: pointer;
}

.text{
    position: absolute;
    bottom: -30px;
    width: fit-content;
    align-self: center;
    margin-top: 10px;
    padding: 7px;
    background-color: rgb(194, 244, 94);
    border-radius: 3px;
}

.saveBtn{
    display: flex;
    margin-top:2em;
    justify-content: center;
}