.card{
    max-width: 300px;
    padding: 20px 0px;
    width: 100%;
    min-height: 200px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.titleWrap{
    padding: 0 20px;
    /* background-color: var(--orange-color); */
    color: var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* margin-bottom: 20px; */
  
}

.textWrap{
    display: flex;
    align-items: center;
    gap: 8px;
}

.detailWrap{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: 15px;
}

.line{
    border: .5px solid grey;
    width: 100%;
}

.cardWrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding: 7px;
}

.submission{
    text-align: end;
}





/* TOPIC CARDS */

.card2{
    position: relative;
    border: 1px solid lightgray;
    max-width: 330px;
    width: 100%;
    height: 100px;
    border-radius: 7px;
    box-sizing: border-box;
  
}

.deleteIcon{
    position: absolute;
   right: 10px;
   top: 12px;
   cursor: pointer;
}

.innerWrap{
    border-radius: 7px;
    padding: 16px;
 width: 100%;
 height: 100%;
 box-sizing: border-box;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 15px;
}

.cardActive{
    max-width: 330px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 0px 10px;
    background-color: var(--orange-color);
    box-sizing: border-box;
    padding: 7px;
}

.cardTextWrap{
    display: grid;
    gap: 7px;
}

.downcardtext{
    font-size: 14px;
    display: grid;

}