.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardWrap{
    margin-top: 20px;
    margin-bottom: 70px;
}

.cards{
justify-content: space-between;
    display:flex;
    flex-wrap: wrap;
row-gap: 30px;
}

.cardTitle{
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.buttonWrap{
    display: flex;
    align-items: center;

  margin-bottom: 30px;
}

.noItem{
    margin: 10px 0px;
    text-align: center;
    width: 100%;
}