.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin:70px 20px
}

/* .cardWrap {
  margin-bottom: 70px;
} */

.cards {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
