.inputWrap{
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    /* max-width: 430px; */
}


.input{
    /* max-width: 300px; */
    margin-top: 10px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid  #F19C00;
    box-sizing: border-box;
    padding: 14px ;
    display: block;

}